.L{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: blue;
}

.L:hover {
    background-color: blueviolet;
    border-color: brown;
}

.imagen {
    position: absolute;
    left: 47%;
    width: 200px;
    height: auto;
}
/*/*
